@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-sans: Inter, system-ui, sans-serif;
    --font-mono: JetBrains Mono, monospace;
    --font-serif: Georgia, serif;
    --radius: 0.5rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
    --tracking-normal: var(--tracking-normal);
    --shadow-2xl: var(--shadow-2xl);
    --shadow-xl: var(--shadow-xl);
    --shadow-lg: var(--shadow-lg);
    --shadow-md: var(--shadow-md);
    --shadow: var(--shadow);
    --shadow-sm: var(--shadow-sm);
    --shadow-xs: var(--shadow-xs);
    --shadow-2xs: var(--shadow-2xs);
    --spacing: var(--spacing);
    --letter-spacing: var(--letter-spacing);
    --shadow-offset-y: var(--shadow-offset-y);
    --shadow-offset-x: var(--shadow-offset-x);
    --shadow-spread: var(--shadow-spread);
    --shadow-blur: var(--shadow-blur);
    --shadow-opacity: var(--shadow-opacity);
    --color-shadow-color: var(--shadow-color);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);
}

:root {
    --background: oklch(1.0000 0 0);
    --foreground: oklch(0.2178 0 0);
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0.2178 0 0);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.2178 0 0);
    --primary: oklch(0.7038 0.1617 137.2716);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.6304 0.1800 259.9560);
    --secondary-foreground: oklch(1.0000 0 0);
    --muted: oklch(0.9672 0 0);
    --muted-foreground: oklch(0.5103 0 0);
    --accent: oklch(0.8223 0.1675 80.7039);
    --accent-foreground: oklch(0.2178 0 0);
    --destructive: oklch(0.6280 0.2577 29.2339);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.9276 0.0058 264.5313);
    --input: oklch(0.9276 0.0058 264.5313);
    --ring: oklch(0.7038 0.1617 137.2716);
    --chart-1: oklch(0.7038 0.1617 137.2716);
    --chart-2: oklch(0.6304 0.1800 259.9560);
    --chart-3: oklch(0.8223 0.1675 80.7039);
    --chart-4: oklch(0.6872 0.2097 41.4190);
    --chart-5: oklch(0.6280 0.2577 29.2339);
    --radius: 0.5rem;
    --sidebar: oklch(0.9851 0 0);
    --sidebar-foreground: oklch(0.3211 0 0);
    --sidebar-primary: oklch(0.7038 0.1617 137.2716);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.9683 0.0069 247.8956);
    --sidebar-accent-foreground: oklch(0.7038 0.1617 137.2716);
    --sidebar-border: oklch(0.9288 0.0126 255.5078);
    --sidebar-ring: oklch(0.7038 0.1617 137.2716);
    --font-sans: Inter, system-ui, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: JetBrains Mono, monospace;
    --shadow-color: #000000;
    --shadow-opacity: 0.1;
    --shadow-blur: 10px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 4px;
    --letter-spacing: -0.01em;
    --spacing: 0.25rem;
    --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: -0.01em;

    /* Sidebar Dimensions */
    --sidebar-width: 16rem;
    --sidebar-width-collapsed: 5rem;
}

.dark {
    --background: oklch(0.2077 0.0398 265.7549);
    --foreground: oklch(0.9842 0.0034 247.8575);
    --card: oklch(0.2795 0.0368 260.0310);
    --card-foreground: oklch(0.9842 0.0034 247.8575);
    --popover: oklch(0.2795 0.0368 260.0310);
    --popover-foreground: oklch(0.9842 0.0034 247.8575);
    --primary: oklch(0.7038 0.1617 137.2716);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.6304 0.1800 259.9560);
    --secondary-foreground: oklch(1.0000 0 0);
    --muted: oklch(0.3717 0.0392 257.2870);
    --muted-foreground: oklch(0.7107 0.0351 256.7878);
    --accent: oklch(0.6872 0.2097 41.4190);
    --accent-foreground: oklch(1.0000 0 0);
    --destructive: oklch(0.6280 0.2577 29.2339);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.3717 0.0392 257.2870);
    --input: oklch(0.3717 0.0392 257.2870);
    --ring: oklch(0.7038 0.1617 137.2716);
    --chart-1: oklch(0.7038 0.1617 137.2716);
    --chart-2: oklch(0.6304 0.1800 259.9560);
    --chart-3: oklch(0.8223 0.1675 80.7039);
    --chart-4: oklch(0.6872 0.2097 41.4190);
    --chart-5: oklch(0.6280 0.2577 29.2339);
    --radius: 0.5rem;
    --sidebar: oklch(0.2077 0.0398 265.7549);
    --sidebar-foreground: oklch(0.8690 0.0198 252.8943);
    --sidebar-primary: oklch(0.7038 0.1617 137.2716);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.2795 0.0368 260.0310);
    --sidebar-accent-foreground: oklch(0.9842 0.0034 247.8575);
    --sidebar-border: oklch(0.3717 0.0392 257.2870);
    --sidebar-ring: oklch(0.7038 0.1617 137.2716);
    --font-sans: Inter, system-ui, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: JetBrains Mono, monospace;
    --shadow-color: #000000;
    --shadow-opacity: 0.4;
    --shadow-blur: 15px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 8px;
    --letter-spacing: -0.01em;
    --spacing: 0.25rem;
    --shadow-2xs: 0px 8px 15px 0px hsl(0 0% 0% / 0.20);
    --shadow-xs: 0px 8px 15px 0px hsl(0 0% 0% / 0.20);
    --shadow-sm: 0px 8px 15px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
    --shadow: 0px 8px 15px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
    --shadow-md: 0px 8px 15px 0px hsl(0 0% 0% / 0.40), 0px 2px 4px -1px hsl(0 0% 0% / 0.40);
    --shadow-lg: 0px 8px 15px 0px hsl(0 0% 0% / 0.40), 0px 4px 6px -1px hsl(0 0% 0% / 0.40);
    --shadow-xl: 0px 8px 15px 0px hsl(0 0% 0% / 0.40), 0px 8px 10px -1px hsl(0 0% 0% / 0.40);
    --shadow-2xl: 0px 8px 15px 0px hsl(0 0% 0% / 1.00);
}

@layer base {
    body {
        letter-spacing: var(--tracking-normal);
    }
}